.footer {
    background-color: rgb(222, 222, 222);
}

#contactButton {
    max-width: 25em;
}

#btnSubmit {
    appearance: none;
    border: none;
    background-color: rgb(160, 3, 3);
    padding: 0.25rem 0.5rem;
    color: white;
    border-radius: 5px;
    transition: all 250ms ease;
    /* transition y3ni mnin ndir 3liha js khasha tra chi haja ana baghiha t7rek */
}


/* pannier */




